<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<h2>User's Posts</h2>
<% @posts.each do |post| %>

  <p><%= post.body %> </p>
<% end %>
